// MAIN SITE FONT
// @font-face {
//   font-family: 'Roboto';
//   src: url('../assets/fonts/roboto/eot/Roboto-Regular.eot');
//   src:
//     url('../assets/fonts/roboto/ttf/Roboto-Regular.ttf') format('truetype'),
//     url('../assets/fonts/roboto/eot/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
//     url('../assets/fonts/roboto/woff2/Roboto-Regular.woff2') format('woff2'),
//     url('../assets/fonts/roboto/woff/Roboto-Regular.woff') format('woff');
//   font-weight: 500;
//   font-style: normal;
// }

@font-face {
   font-family: Roboto;
   src: url("../assets/fonts/roboto/eot/Roboto-Regular.eot");
   src:
      url("../assets/fonts/roboto/eot/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
      url("../assets/fonts/roboto/ttf/Roboto-Regular.ttf") format("truetype"),
      url("../assets/fonts/roboto/woff2/Roboto-Regular.woff2") format("woff2"),
      url("../assets/fonts/roboto/woff/Roboto-Regular.woff") format("woff");
}

@font-face {
   font-family: Roboto;
   src: url("../assets/fonts/roboto/eot/Roboto-Bold.eot");
   src:
      url("../assets/fonts/roboto/eot/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
      url("../assets/fonts/roboto/ttf/Roboto-Regular.ttf") format("truetype"),
      url("../assets/fonts/roboto/woff2/Roboto-Bold.woff2") format("woff2"),
      url("../assets/fonts/roboto/woff/Roboto-Bold.woff") format("woff");
}

@font-face {
   font-family: Roboto;
   src: url("../assets/fonts/roboto/eot/Roboto-LightItalic.eot");
   src:
      url("../assets/fonts/roboto/eot/Roboto-LightItalic.eot?#iefix") format("embedded-opentype"),
      url("../assets/fonts/roboto/ttf/Roboto-Regular.ttf") format("truetype"),
      url("../assets/fonts/roboto/woff2/Roboto-LightItalic.woff2") format("woff2"),
      url("../assets/fonts/roboto/woff/Roboto-LightItalic.woff") format("woff");
}

@font-face {
   font-family: Roboto;
   src: url("../assets/fonts/roboto/eot/Roboto-Medium.eot");
   src:
      url("../assets/fonts/roboto/eot/Roboto-Medium.eot?#iefix") format("embedded-opentype"),
      url("../assets/fonts/roboto/ttf/Roboto-Regular.ttf") format("truetype"),
      url("../assets/fonts/roboto/woff2/Roboto-Medium.woff2") format("woff2"),
      url("../assets/fonts/roboto/woff/Roboto-Medium.woff") format("woff");
}

@font-face {
   font-family: Roboto;
   src: url("../assets/fonts/roboto/eot/Roboto-Thin.eot");
   src:
      url("../assets/fonts/roboto/eot/Roboto-Thin.eot?#iefix") format("embedded-opentype"),
      url("../assets/fonts/roboto/ttf/Roboto-Regular.ttf") format("truetype"),
      url("../assets/fonts/roboto/woff2/Roboto-Thin.woff2") format("woff2"),
      url("../assets/fonts/roboto/woff/Roboto-Thin.woff") format("woff");
}

@font-face {
   font-family: Roboto;
   src: url("../assets/fonts/roboto/eot/Roboto-ThinItalic.eot");
   src:
      url("../assets/fonts/roboto/eot/Roboto-ThinItalic.eot?#iefix") format("embedded-opentype"),
      url("../assets/fonts/roboto/ttf/Roboto-Regular.ttf") format("truetype"),
      url("../assets/fonts/roboto/woff2/Roboto-ThinItalic.woff2") format("woff2"),
      url("../assets/fonts/roboto/woff/Roboto-ThinItalic.woff") format("woff");
}

@font-face {
   font-family: Roboto;
   src: url("../assets/fonts/roboto/eot/Roboto-BoldItalic.eot");
   src:
      url("../assets/fonts/roboto/eot/Roboto-BoldItalic.eot?#iefix") format("embedded-opentype"),
      url("../assets/fonts/roboto/ttf/Roboto-Regular.ttf") format("truetype"),
      url("../assets/fonts/roboto/woff2/Roboto-BoldItalic.woff2") format("woff2"),
      url("../assets/fonts/roboto/woff/Roboto-BoldItalic.woff") format("woff");
}

@font-face {
   font-family: Roboto;
   src: url("../assets/fonts/roboto/eot/Roboto-Black.eot");
   src:
      url("../assets/fonts/roboto/eot/Roboto-Black.eot?#iefix") format("embedded-opentype"),
      url("../assets/fonts/roboto/ttf/Roboto-Regular.ttf") format("truetype"),
      url("../assets/fonts/roboto/woff2/Roboto-Black.woff2") format("woff2"),
      url("../assets/fonts/roboto/woff/Roboto-Black.woff") format("woff");
}

@font-face {
   font-family: Roboto;
   src: url("../assets/fonts/roboto/eot/Roboto-MediumItalic.eot");
   src:
      url("../assets/fonts/roboto/eot/Roboto-MediumItalic.eot?#iefix") format("embedded-opentype"),
      url("../assets/fonts/roboto/ttf/Roboto-Regular.ttf") format("truetype"),
      url("../assets/fonts/roboto/woff2/Roboto-MediumItalic.woff2") format("woff2"),
      url("../assets/fonts/roboto/woff/Roboto-MediumItalic.woff") format("woff");
}

@font-face {
   font-family: Roboto;
   src: url("../assets/fonts/roboto/eot/Roboto-Light.eot");
   src:
      url("../assets/fonts/roboto/eot/Roboto-Light.eot?#iefix") format("embedded-opentype"),
      url("../assets/fonts/roboto/ttf/Roboto-Regular.ttf") format("truetype"),
      url("../assets/fonts/roboto/woff2/Roboto-Light.woff2") format("woff2"),
      url("../assets/fonts/roboto/woff/Roboto-Light.woff") format("woff");
}

@font-face {
   font-family: Roboto;
   src: url("../assets/fonts/roboto/eot/Roboto-BlackItalic.eot");
   src:
      url("../assets/fonts/roboto/eot/Roboto-BlackItalic.eot?#iefix") format("embedded-opentype"),
      url("../assets/fonts/roboto/ttf/Roboto-Regular.ttf") format("truetype"),
      url("../assets/fonts/roboto/woff2/Roboto-BlackItalic.woff2") format("woff2"),
      url("../assets/fonts/roboto/woff/Roboto-BlackItalic.woff") format("woff");
}

@font-face {
   font-family: Roboto;
   src: url("../assets/fonts/roboto/eot/Roboto-Italic.eot");
   src:
      url("../assets/fonts/roboto/eot/Roboto-Italic.eot?#iefix") format("embedded-opentype"),
      url("../assets/fonts/roboto/ttf/Roboto-Regular.ttf") format("truetype"),
      url("../assets/fonts/roboto/woff2/Roboto-Italic.woff2") format("woff2"),
      url("../assets/fonts/roboto/woff/Roboto-Italic.woff") format("woff");
}
